.sliders-block {
    display: flex;
    justify-content: space-between;
    margin: 0 auto;
    margin-bottom: 40px;
    padding-top: 20px;
    width: 500px;
}

.slider {
    background-color: #f5f5f7;
    border: 1px solid #e7e7e9;
    border-radius: 15px;
    padding: 45px 5px 15px 5px;
    width: 140px;
}

.slider input {
    margin-bottom: 5px;
}

.slider span {
    display: block;
    text-align: center;
}