.color-picker {
    position: relative;
    height: 350px;
}

.color-box {
    position: absolute;
    border-top-left-radius: 24px;
    border-top-right-radius: 24px;
    width: 100%;
    height: 100px;
}